[
  {
    "scope": "https://api-sandbox.dhlecs.com:443",
    "method": "POST",
    "path": "/shipping/v4/label?format=ZPL",
    "body": "{\"pickup\":\"5351358\",\"distributionCenter\":\"USRDU1\",\"orderedProductId\":\"GND\",\"consigneeAddress\":{\"name\":\"James Crow\",\"address1\":\"9600 Escarpment Blvd\",\"address2\":\"#745-259\",\"city\":\"Austin\",\"state\":\"TX\",\"postalCode\":\"78749\",\"country\":\"US\",\"phone\":\"4152948888\"},\"returnAddress\":{\"companyName\":\"OneLiveX\",\"address1\":\"7000 BURLESON RD\",\"address2\":\"STE A-100\",\"city\":\"AUSTIN\",\"state\":\"TX\",\"postalCode\":\"78744-3214\",\"country\":\"US\",\"phone\":\"512-371-6924\"},\"packageDetail\":{\"packageId\":\"982856d6fdd3-49d5-8cc7-cc80f1a\",\"packageDescription\":\"Things in a box.\",\"packageReference\":\"RDU\",\"weight\":{\"value\":10,\"unitOfMeasure\":\"OZ\"}}}",
    "status": 200,
    "response": {
      "timestamp": "2021-01-27T23:26:13.410Z",
      "pickup": "5351358",
      "distributionCenter": "USRDU1",
      "orderedProductId": "GND",
      "labels": [
        {
          "createdOn": "2021-01-27T23:26:13.000Z",
          "packageId": "982856D6FDD3-49D5-8CC7-CC80F1A",
          "dhlPackageId": "4342701140046299",
          "trackingId": "420787499374869903500268917066",
          "labelData": "^XA^LH0,30\\n\n^FO395,0^GB310,0,3^FS\\n\n^FO395,0^GB0,150,3^FS\\n\n^FO705,0^GB0,153,3^FS\\n\n^FO395,150^GB310,0,3^FS\\n\n^FO560,30^A0N,20,20^FDUS Postage Paid^FS\\n\n^FO580,52^A0N,20,20^FDGlobal Mail^FS\\n\n^FO610,74^A0N,20,20^FDeVS^FS\\n\n^FO555,0^GB0,100,3^FS\\n\n^FO450,0^GB0,100,3^FS\\n\n^FO395,100^GB310,0,3^FS\\n\n^FO575,100^GB0,50,3^FS\\n\n^FO640,100^GB0,25,3^FS\\n\n^FO575,125^GB130,0,3^FS\\n\n^FO30,0^A0N,24,25^FDPS LIGHTWEIGHT^FS\\n\n^FO20,30^A0N,25,30^FDTime Sensitive Material^FS\\n\n^F[...]
