[
  {
    "scope": "https://parcelcastx.us.auth0.com:443",
    "method": "POST",
    "path": "/oauth/token",
    "body": "{\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\",\"audience\":\"https://parcelcastx.us.auth0.com/api/v2/\",\"grant_type\":\"client_credentials\"}",
    "status": 200,
    "response": {
      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjVlbGw0SkVvdFVzYXFENDFBM3UtOSJ9.eyJpc3MiOiJodHRwczovL3BhcmNlbGNhc3R4LnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJyQUFiZVBNdGdsbVFWdnR3Qk9FZ0JvZ08yV2pEbG5uRkBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9wYXJjZWxjYXN0eC51cy5hdXRoMC5jb20vYXBpL3YyLyIsImlhdCI6MTYyODg2MjI3MSwiZXhwIjoxNjI4OTQ4NjcxLCJhenAiOiJyQUFiZVBNdGdsbVFWdnR3Qk9FZ0JvZ08yV2pEbG5uRiIsInNjb3BlIjoicmVhZDp1c2VycyB1cGRhdGU6dXNlcnMgZGVsZXRlOnVzZXJzIGNyZWF0ZTp1c2VycyByZWFkOnVzZXJzX2FwcF9tZXRhZGF0YSB1cGRhdGU6dXNlcnNfYXBwX21ldGFkYXRhIGRlbGV0ZTp1c2Vyc19hcHBfbWV0YWRhdGEgY3JlYXRlOnVzZXJzX2FwcF9tZXRhZGF0YSIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.rPjIrzEC8pxp8LnGzHQx_qghJRxFEVzGF84gMVNW2VBuB92edQHUzEdDGi7huLbKVrlFysU35hXpLXD9tzGo33xj5UindJYUM7ekitI3mW_NuWSuUDCmQYw7bhh1mA62m_cZMuUPv8Hf7OOnr2V5RApTVwIrPlLt2r_FU4bzqYgd46QuiDri1Bo_rkDs_6Ft8qJg4su4CEsdLhQNeRQKGZucjOXXjvoZWxnv6FxMd-6LHRD4_F-pplcOuaboepcskfR78eo_VSEOk_-S47PP7F_m5xNg8BBnHNZw2oZkIGANoVAmznfB0KzaKrZXCzayEyQP3_5GcC2RGDqGjmxQeg",
      "scope": "read:users update:users delete:users create:users read:users_app_metadata update:users_app_metadata delete:users_app_metadata create:users_app_metadata",
      "expires_in": 86400,
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Fri, 13 Aug 2021 13:44:31 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "67e260edafc9e3ba-ATL",
      "no-store",
      "did=s%3Av0%3A9688d800-fc3c-11eb-a0ba-bf811b9cab11.285BlohoGDEltFK9gevZyoZHGfLrJOC0UZEszjCBZr4; Max-Age=31557600; Path=/; Expires=Sat, 13 Aug 2022 19:44:31 GMT; HttpOnly; Secure; SameSite=None",
      "max-age=31536000",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "ot-baggage-auth0-request-id",
      "67e260edafc9e3ba",
      "ot-tracer-sampled",
      "true",
      "ot-tracer-spanid",
      "5574c4ce061af8ca",
      "ot-tracer-traceid",
      "05d5385b36303b47",
      "no-cache",
      "did_compat=s%3Av0%3A9688d800-fc3c-11eb-a0ba-bf811b9cab11.285BlohoGDEltFK9gevZyoZHGfLrJOC0UZEszjCBZr4; Max-Age=31557600; Path=/; Expires=Sat, 13 Aug 2022 19:44:31 GMT; HttpOnly; Secure",
      "X-Auth0-RequestId",
      "95d74b77849e6607693f",
      "nosniff",
      "X-RateLimit-Limit",
      "30",
      "X-RateLimit-Remaining",
      "29",
      "X-RateLimit-Reset",
      "1628862272",
      "cloudflare",
      "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://parcelcastx.us.auth0.com:443",
    "method": "POST",
    "path": "/api/v2/users",
    "body": "{\"email\":\"test123@xdelivery.ai\",\"app_metadata\":{\"organization_id\":[4]},\"connection\":\"Username-Password-Authentication\",\"verify_email\":true,\"password\":\"[REDACTED]\"}",
    "status": 201,
    "response": {
      "created_at": "2021-08-13T13:44:32.384Z",
      "email": "test123@xdelivery.ai",
      "email_verified": false,
      "identities": [
        {
          "connection": "Username-Password-Authentication",
          "user_id": "611677405b3ab30068c24c29",
          "provider": "auth0",
          "isSocial": false
        }
      ],
      "name": "test123@xdelivery.ai",
      "nickname": "test123",
      "picture": "https://s.gravatar.com/avatar/a904733c0c98813e1283bf8f49bbd888?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png",
      "updated_at": "2021-08-13T13:44:32.384Z",
      "user_id": "auth0|611677405b3ab30068c24c29",
      "app_metadata": {
        "organization_id": [
          4
        ]
      }
    },
    "rawHeaders": [
      "Fri, 13 Aug 2021 13:44:32 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "chunked",
      "close",
      "67e260f0ab760803-ATL",
      "no-cache",
      "max-age=31536000",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "ot-baggage-auth0-request-id",
      "67e260f0ab760803",
      "ot-tracer-sampled",
      "true",
      "ot-tracer-spanid",
      "47e061be370e7b3c",
      "ot-tracer-traceid",
      "74211d06125141b7",
      "nosniff",
      "x-ratelimit-limit",
      "10",
      "x-ratelimit-remaining",
      "9",
      "x-ratelimit-reset",
      "1628862273",
      "cloudflare",
      "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  }
]