[
  {
    "scope": "https://parcelcastx.us.auth0.com:443",
    "method": "POST",
    "path": "/oauth/token",
    "body": "{\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\",\"audience\":\"https://parcelcastx.us.auth0.com/api/v2/\",\"grant_type\":\"client_credentials\"}",
    "status": 200,
    "response": {
      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjVlbGw0SkVvdFVzYXFENDFBM3UtOSJ9.eyJpc3MiOiJodHRwczovL3BhcmNlbGNhc3R4LnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJyQUFiZVBNdGdsbVFWdnR3Qk9FZ0JvZ08yV2pEbG5uRkBjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9wYXJjZWxjYXN0eC51cy5hdXRoMC5jb20vYXBpL3YyLyIsImlhdCI6MTYyODgwMDY3NiwiZXhwIjoxNjI4ODg3MDc2LCJhenAiOiJyQUFiZVBNdGdsbVFWdnR3Qk9FZ0JvZ08yV2pEbG5uRiIsInNjb3BlIjoicmVhZDp1c2VycyB1cGRhdGU6dXNlcnMgZGVsZXRlOnVzZXJzIGNyZWF0ZTp1c2VycyByZWFkOnVzZXJzX2FwcF9tZXRhZGF0YSB1cGRhdGU6dXNlcnNfYXBwX21ldGFkYXRhIGRlbGV0ZTp1c2Vyc19hcHBfbWV0YWRhdGEgY3JlYXRlOnVzZXJzX2FwcF9tZXRhZGF0YSIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.dmQqRvEZ2Zu1vWN5cI6FDCMdhjA1i9obZPvRoqPPSM6NvMMxJP6kubjvp_AwZZ1-G8ruUb8kjcdcc7Q6tGH9RQG92IBGUxWBKM5cIYHf7HYYDJjYiWFurqmIwAO1v-biiQ5MrLQwdMqNynulASoEgXj0Gv1rJLUiKZBhK2DRgjnVuc0DqvO61GvbRFBL8WAGMyU2Yu6ikaIN8a2eHf4XH59duuSjLpwaJE2xzY6PaPspeQb6OS8j5aHAj3PdCHz-2T6n9dYZh-Z7tb4TBPSEOGVc26xKgaONj4YCnp7pjKwwneUY6Ox8kkaVMky7PUuqAC3odR8t6e_LlxUQE9SMBw",
      "scope": "read:users update:users delete:users create:users read:users_app_metadata update:users_app_metadata delete:users_app_metadata create:users_app_metadata",
      "expires_in": 86400,
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Thu, 12 Aug 2021 20:37:56 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "67dc81218ea25cb9-IAD",
      "no-store",
      "did=s%3Av0%3A2ca3ac10-fbad-11eb-8de2-f560b393333f.rBHR97NDoePT27bgKuO%2FmOv2rANvCV44xkof0Daexbc; Max-Age=31557600; Path=/; Expires=Sat, 13 Aug 2022 02:37:56 GMT; HttpOnly; Secure; SameSite=None",
      "max-age=31536000",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "ot-baggage-auth0-request-id",
      "67dc81218ea25cb9",
      "ot-tracer-sampled",
      "true",
      "ot-tracer-spanid",
      "5a789000077debf2",
      "ot-tracer-traceid",
      "019340fd5bd87c51",
      "no-cache",
      "did_compat=s%3Av0%3A2ca3ac10-fbad-11eb-8de2-f560b393333f.rBHR97NDoePT27bgKuO%2FmOv2rANvCV44xkof0Daexbc; Max-Age=31557600; Path=/; Expires=Sat, 13 Aug 2022 02:37:56 GMT; HttpOnly; Secure",
      "X-Auth0-RequestId",
      "450903c24f3b35b9d1a8",
      "nosniff",
      "X-RateLimit-Limit",
      "30",
      "X-RateLimit-Remaining",
      "29",
      "X-RateLimit-Reset",
      "1628800677",
      "cloudflare",
      "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://parcelcastx.us.auth0.com:443",
    "method": "GET",
    "path": "/api/v2/users",
    "body": "",
    "status": 200,
    "response": [
      {
        "created_at": "2021-06-21T20:12:19.036Z",
        "email": "ci@xdelivery.ai",
        "email_verified": false,
        "identities": [
          {
            "user_id": "60d0f2a316f69600691c27b9",
            "provider": "auth0",
            "connection": "Username-Password-Authentication",
            "isSocial": false
          }
        ],
        "name": "ci@xdelivery.ai",
        "nickname": "ci",
        "picture": "https://s.gravatar.com/avatar/cae1b7e2779ec760e9b917290f0e226e?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fci.png",
        "updated_at": "2021-08-12T20:37:43.670Z",
        "user_id": "auth0|60d0f2a316f69600691c27b9",
        "user_metadata": {},
        "last_login": "2021-08-12T20:37:43.669Z",
        "last_ip": "24.23.233.130",
        "logins_count": 995,
        "app_metadata": {
          "organization_id": [
            4
          ]
        }
      },
      {
        "created_at": "2021-06-10T15:19:53.289Z",
        "email": "tom@xdelivery.ai",
        "email_verified": false,
        "identities": [
          {
            "user_id": "60c22d995d89a500699c1885",
            "provider": "auth0",
            "connection": "Username-Password-Authentication",
            "isSocial": false
          }
        ],
        "name": "tom@xdelivery.ai",
        "nickname": "tom",
        "picture": "https://s.gravatar.com/avatar/c246cf1a853fae002e5607deb541e923?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fto.png",
        "updated_at": "2021-08-05T19:56:29.434Z",
        "user_id": "auth0|60c22d995d89a500699c1885",
        "user_metadata": {},
        "last_login": "2021-08-05T19:56:29.434Z",
        "last_ip": "107.15.242.160",
        "logins_count": 75,
        "app_metadata": {
          "organization_id": [
            4
          ]
        }
      },
      {
        "created_at": "2021-06-14T15:50:46.816Z",
        "email": "tom.bryant@xdelivery.ai",
        "email_verified": true,
        "family_name": "Bryant",
        "given_name": "Tom",
        "identities": [
          {
            "provider": "google-oauth2",
            "user_id": "103869869755901165657",
            "connection": "google-oauth2",
            "isSocial": true
          }
        ],
        "locale": "en",
        "name": "Tom Bryant",
        "nickname": "tom.bryant",
        "picture": "https://lh3.googleusercontent.com/a/AATXAJxMJT1535rWL9v-w6EWc8TDwtbokl7eyF1QBI_g=s96-c",
        "updated_at": "2021-06-14T15:51:12.671Z",
        "user_id": "google-oauth2|103869869755901165657",
        "last_login": "2021-06-14T15:51:12.671Z",
        "last_ip": "107.15.242.160",
        "logins_count": 2
      },
      {
        "created_at": "2021-08-10T18:08:02.395Z",
        "email": "account_mgmtte[...]
