[
  {
    "scope": "https://services.lso.com:443",
    "method": "POST",
    "path": "/partnershippingservices/v1_5/PrintingService.asmx?SOAP",
    "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Envelope xmlns=\"http://schemas.xmlsoap.org/soap/envelope/\"><Header/><Body><PrintAirbill xmlns=\"https://services.lso.com/PrintingService/v1_6\"><request><AuthenticationInfo><Username>onelive</Username><Password>[REDACTED]</Password></AuthenticationInfo><Customer><AccountNumber>[REDACTED]</AccountNumber></Customer><ServiceType>GroundBasic</ServiceType><FromName>undefined</FromName><FromPhone>4152948888</FromPhone><FromCompany>OneLive</FromCompany><FromAddress1>1100 E. HOWARD LANE</FromAddress1><FromZipCode>78753</FromZipCode><FromCity>Austin</FromCity><FromState>TX</FromState><FromCountry>UnitedStates</FromCountry><ToName>James Crow</ToName><ToPhone>4152948888</ToPhone><ToCompany>OneLive</ToCompany><ToAddress1>9600 Escarpment Blvd</ToAddress1><ToAddress2>#745-259</ToAddress2><ToZipCode>78749</ToZipCode><ToCity>Austin</ToCity><ToState>TX</ToState><ToCountry>UnitedStates</ToCountry><Length>5</Length><Width>6</Width><Height>4</Height><Weight>0.625</Weight><LsoSuppliesUsed>false</LsoSuppliesUsed><OTT>false</OTT><AddSaturdayService>false</AddSaturdayService><EncodeLabel>true</EncodeLabel><Format>ZPL</Format><LabelSize>s4x6_5</LabelSize><HighRes>false</HighRes><UseSimple>false</UseSimple><DeliveryNotification>false</DeliveryNotification><SignatureRequirement>None</SignatureRequirement><SignatureRelease>false</SignatureRelease></request></PrintAirbill></Body></Envelope>",
    "status": 200,
    "response": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><PrintAirbillResponse xmlns=\"https://services.lso.com/PrintingService/v1_6\"><PrintAirbillResult><ChargesAndFees><PrintingServiceCharge><Description>Estimated Base Price</Description><Amount>8.76</Amount></PrintingServiceCharge><PrintingServiceCharge><Description>Estimated Fuel Charges</Description><Amount>0.28</Amount></PrintingServiceCharge></ChargesAndFees><EstimatedTotalCharge>8.17</EstimatedTotalCharge><LabelsData><StandardLabelData><AirbillNo>ZY03S1WN</AirbillNo><ServiceDescription>LSO Ground</ServiceDescription><ServiceType>GroundBasic</ServiceType><SortCode>AUS</SortCode><Piece>1</Piece><Pieces>1</Pieces><FromName>UNDEFINED</FromName><FromPhone>4152948888</FromPhone><FromCompany>ONELIVE</FromCompany><FromAddress1>1100 E. HOWARD LANE</FromAddress1><FromAddress2 /><FromZipCode>78753</FromZipCode><FromCity>AUSTIN</FromCity><FromState>TX</FromState><FromCountry>UnitedStates</FromCountry><ToName>JAMES CROW</ToName><ToPhone>4152948888</ToPhone><ToCompany>ONELIVE</ToCompany><ToAddress1>9600 ESCARPMENT BLVD</ToAddress1><ToAddress2>#745-259</ToAddress2><ToZipCode>78749</ToZipCode><ToCity>AUSTIN</ToCity><ToState>TX</ToState><ToCountry>UnitedStates</ToCountry><ResidentialDelivery>false</ResidentialDelivery><Length>5</Length><Width>6</Width><Height>4</Height><Weight>1</Weight><LsoSuppliesUsed>false</LsoSuppliesUsed><OTT>false</OTT><DeclaredValue>100</DeclaredValue><BillingRef /><BillingRef2 /><BillingRef3 /><BillingRef4 /><SignatureRequirement>None</SignatureRequirement></StandardLabelData></LabelsData><Images><LabelImage><LabelType>ZPL</LabelType><Base64data>XlhBDQpeRlQxNTAsNTReQTBOLDI4LDI4XkZIXF5GRExTTw0KXkZTXkZUMjIwLDU0XkEwTiwyOCwyOF5GSFxeRkQxLTgwMC04MDAtODk4NA0KXkZTXkZUNDcwLDU0XkEwTiwyOCwyOF5GSFxeRkR3d3cubHNvLmNvbQ0KXkZTXkZUMzQyLDgxXkEwTiwxNywxNl5GSFxeRkRUbzoNCl5GU15GVDM1MCwxMjleQTBOLDQwLDMyXkZIXF5GREpBTUVTIENST1cNCl5GU15GVDM1MCwxNzVeQTBOLDQwLDMyXkZIXF5GRE9ORUxJVkUNCl5GU15GVDM1MCwyMjFeQTBOLDQwLDMyXkZIXF5GRDk2MDAgRVNDQVJQTUVOVCBCTFZEDQpeRlNeRlQzNTAsMjY3XkEwTiw0MCwzMl5GSFxeRkQjNzQ1LTI1OQ0KXkZTXkZUMzUwLDMxM15BME4sNDAsMzJeRkhcXkZEDQpeRlNeRlQzNTAsMzU5[...]
