[
  {
    "scope": "https://api-sandbox.dhlecs.com:443",
    "method": "POST",
    "path": "/auth/v4/accesstoken",
    "body": "grant_type=client_credentials&client_id=[REDACTED]&client_secret=[REDACTED]",
    "status": 200,
    "response": {
      "access_token": "88BirAy5nHzVcTG5qjHeh4Bl5SqK",
      "client_id": "EwzRQ0vAcQsNgZhHo2UbMrZ0VP9KATai",
      "token_type": "Bearer",
      "expires_in": 3600
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Correlation-Id",
      "0f06bfff-9c72-4b2e-a59f-e9b7632bd337"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api-sandbox.dhlecs.com:443",
    "method": "POST",
    "path": "/shipping/v4/label?format=ZPL",
    "body": "{\"pickup\":\"5351358\",\"distributionCenter\":\"USRDU1\",\"orderedProductId\":\"GND\",\"consigneeAddress\":{\"name\":\"Jamila Small\",\"address1\":\"174 Riverdale Ave\",\"address2\":\"F\",\"city\":\"Agawam\",\"state\":\"MA\",\"postalCode\":\"01001\",\"country\":\"US\",\"phone\":\"347-691-8291\"},\"returnAddress\":{\"companyName\":\"OneLiveX\",\"address1\":\"7000 BURLESON RD\",\"address2\":\"STE A-100\",\"city\":\"AUSTIN\",\"state\":\"TX\",\"postalCode\":\"78744-3214\",\"country\":\"US\",\"phone\":\"512-371-6924\"},\"packageDetail\":{\"packageId\":\"22058bdc1ee1-4459-8bec-cee5e84\",\"packageDescription\":\"Clothing and Accessories\",\"packageReference\":\"RDU\",\"weight\":{\"value\":0.3,\"unitOfMeasure\":\"OZ\"}}}",
    "status": 200,
    "response": {
      "timestamp": "2021-01-27T23:15:54.701Z",
      "pickup": "5351358",
      "distributionCenter": "USRDU1",
      "orderedProductId": "GND",
      "labels": [
        {
          "createdOn": "2021-01-27T23:15:54.000Z",
          "packageId": "22058BDC1EE1-4459-8BEC-CEE5E84",
          "dhlPackageId": "4342701140045304",
          "trackingId": "420010019374869903500268917042",
          "labelData": "^XA^LH0,30\\n\n^FO395,0^GB310,0,3^FS\\n\n^FO395,0^GB0,150,3^FS\\n\n^FO705,0^GB0,153,3^FS\\n\n^FO395,150^GB310,0,3^FS\\n\n^FO560,30^A0N,20,20^FDUS Postage Paid^FS\\n\n^FO580,52^A0N,20,20^FDGlobal Mail^FS\\n\n^FO610,74^A0N,20,20^FDeVS^FS\\n\n^FO555,0^GB0,100,3^FS\\n\n^FO450,0^GB0,100,3^FS\\n\n^FO395,100^GB310,0,3^FS\\n\n^FO575,100^GB0,50,3^FS\\n\n^FO640,100^GB0,25,3^FS\\n\n^FO575,125^GB130,0,3^FS\\n\n^FO30,0^A0N,24,25^FDPS LIGHTWEIGHT^FS\\n\n^FO20,30^A0N,25,30^FDTime Sensitive Material^FS\\n\n^F[...]
