[
  {
    "scope": "https://api.staging.axlehire.com:443",
    "method": "POST",
    "path": "/v3/shipments",
    "body": "{\"customer\":{\"name\":\"Jamila Small\",\"phone_number\":\"347-691-8291\"},\"internal_id\":\"62457395\",\"workload\":1,\"delivery_items\":\"Clothing and Accessories\",\"pickup_address\":{\"street\":\"1234 Some Street\",\"city\":\"Dallas\",\"state\":\"TX\",\"zipcode\":\"75243\"},\"dropoff_address\":{\"street\":\"174 Riverdale Ave\",\"street2\":\"F\",\"city\":\"Brooklyn\",\"state\":\"NY\",\"zipcode\":\"75243\"},\"dropoff_earliest_ts\":\"2021-07-30T22:35:00.955Z\",\"dropoff_latest_ts\":\"2021-08-13T22:35:00.955Z\",\"delivery_proof_photo_required\":false,\"signature_required\":false,\"sms_enabled\":false,\"id_required\":false,\"parcels\":[{\"dimensions\":{\"height\":2,\"length\":16,\"unit\":\"in\",\"width\":12},\"weight\":{\"unit\":\"oz\",\"value\":0}}]}",
    "status": 200,
    "response": {
      "id": 4925963,
      "tracking_code": "ahnmtd6wq7gcyj5v"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Processed",
      "1627684502183"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://api.staging.axlehire.com:443",
    "method": "GET",
    "path": "/v3/shipments/4925963/label?format=ZPL",
    "body": "{\"params\":{\"packageId\":4925963},\"query\":{\"format\":\"ZPL\"}}",
    "status": 200,
    "response": {
      "label": "^XA^FO50,90^GFA,5000,5000,25,hO01hO07hN01!hN07EhM01FEhM07FEhL01FFEhL07FFEhK01IFEhK03IFEhK0JFChJ03JFChJ0KFChI03KFChI0LFChH03LFChH0MFChG03MF8hG0NF8h03NF8h0OF8gY03OF8gY0PF8gX03PF8gX0QF,gW03QF,gW07QF,gV01RF,gV07RF,gU01SF,gU07SF,gU0SFE,gU03RFE,gV0RFE,gV03QFE,gW0QFE,gW01PFE,gX07OFE,XF8Y01OFC,7WFCg07NFC,3WFCg01NFC,3WFEgG0NFC,1XFgG0NFC,0XF8Y01NFC,07WF8Y01NFC,07WFCY03NF8,03WFEY07NF8,01WFEY0OF8,00XFY0OF8,00XF8W01OF8,007WFCW03OF8,003WFCW03OF8,001WFEW07JF9JF,001XFW0KF8JF,I0XF8V0KF07IF,I07JFCM07JF8U01JFE03[...]
