[
  {
    "scope": "https://auth.concise.io:443",
    "method": "POST",
    "path": "/oauth/token",
    "body": "{\"client_id\":\"[REDACTED]\",\"client_secret\":\"[REDACTED]\",\"audience\":\"https://connect-staging.concise.io\",\"grant_type\":\"client_credentials\"}",
    "status": 200,
    "response": {
      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkMtd191REZUajd6QjF5bXR0YXF2TyJ9.eyJpc3MiOiJodHRwczovL2F1dGguY29uY2lzZS5pby8iLCJzdWIiOiJhbHVIWWw3NEVhT2lLbVZkTE5lU0xYUWpwd2N1ejFZc0BjbGllbnRzIiwiYXVkIjoiaHR0cHM6Ly9jb25uZWN0LXN0YWdpbmcuY29uY2lzZS5pbyIsImlhdCI6MTYyNzY4MzU4MCwiZXhwIjoxNjI3NzY5OTgwLCJhenAiOiJhbHVIWWw3NEVhT2lLbVZkTE5lU0xYUWpwd2N1ejFZcyIsImd0eSI6ImNsaWVudC1jcmVkZW50aWFscyJ9.Haam6TPiM3ZfhEGPuKR7Jv1US2Qxbd7jjIBcFWoAy7HUJLqlIV3eCgkxfiTlVslwfvEIcThoMbP3DDeS3f3gyiQ6zkbIgYqGoTWd1t_v2RYYjZZZw09hh9X8m--JclsUC82eWREs2hS9MJylObkxWmYKQZ1qj6T-e0wMOcRuXBFdzA57dW10lDFPWpFh4k0O2bFd0cbX0wOyf5iP-Klw8d1Aw52CckQc1MaGyaz-9XzbefUULm7NzrlQQREOALOX3wgnJ8e-2O7JarcL9UEKEMw30NiPuV9c2yfbJeOkyVfgvRfLtDXNQaLre-6w3cT67w2O64mxWG0pf7WZ-J3QSA",
      "expires_in": 86400,
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Fri, 30 Jul 2021 22:19:40 GMT",
      "Content-Type",
      "application/json",
      "chunked",
      "close",
      "6771f844790a2584-SJC",
      "no-store",
      "did=s%3Av0%3A3b682470-f184-11eb-bb86-ff3bfb3e0a0a.hbeVwIFTc4bbbfuIN8vrtEyTersBK6Gx3TSPKpwM%2FsI; Max-Age=31557600; Path=/; Expires=Sun, 31 Jul 2022 04:19:39 GMT; HttpOnly; Secure; SameSite=None",
      "max-age=31536000",
      "DYNAMIC",
      "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
      "ot-baggage-auth0-request-id",
      "6771f844790a2584",
      "ot-tracer-sampled",
      "true",
      "ot-tracer-spanid",
      "33b1df7853b52b67",
      "ot-tracer-traceid",
      "5a5999222d422c7e",
      "no-cache",
      "did_compat=s%3Av0%3A3b682470-f184-11eb-bb86-ff3bfb3e0a0a.hbeVwIFTc4bbbfuIN8vrtEyTersBK6Gx3TSPKpwM%2FsI; Max-Age=31557600; Path=/; Expires=Sun, 31 Jul 2022 04:19:40 GMT; HttpOnly; Secure",
      "X-Auth0-RequestId",
      "d0dd13669540f28fb4b7",
      "nosniff",
      "X-RateLimit-Limit",
      "1000000",
      "X-RateLimit-Remaining",
      "999999",
      "X-RateLimit-Reset",
      "1627683580",
      "cloudflare",
      "h3-27=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3=\":443\"; ma=86400"
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://connect-staging.concise.io:443",
    "method": "POST",
    "path": "/shipments",
    "body": "{\"async\":true,\"account_number\":\"4096\",\"reference\":\"HB-ATL\",\"carrier_id\":\"HKB\",\"service_name\":\"ST\",\"to_address\":{\"name\":\"Jamila Small\",\"address_one\":\"174 Riverdale Ave\",\"address_two\":\"F\",\"city\":\"Brooklyn\",\"state\":\"NY\",\"zip\":\"30083\",\"phone\":\"347-691-8291\"},\"from_address\":{\"name\":\"Andrew Tribone\",\"address_one\":\"1380 Beverage Dr STE A\",\"address_two\":\"\",\"city\":\"Stone Mountain\",\"state\":\"GA\",\"zip\":\"30083\"},\"package\":{\"weight\":0.01875,\"length\":16,\"width\":12,\"height\":2,\"description\":\"Clothing and Accessories\"},\"reference_two\":\"00008872784502755082\",\"signature_required\":true}",
    "status": 201,
    "response": {
      "account_number": "4096",
      "shipment_number": "OLBA64A417589",
      "carrier_id": "HKB",
      "service_name": "Scheduled",
      "reference": "HB-ATL",
      "reference_two": "00008872784502755082",
      "declared_value": "0.00",
      "cod_amount": "0.00",
      "label": "/label/OLBA64A417589.pdf",
      "label_zpl": "/label/OLBA64A417589.zpl",
      "from_address": {
        "name": "Andrew Tribone",
        "contact": null,
        "email": null,
        "phone": null,
        "address_one": "1380 Beverage Dr STE A",
        "address_two": null,
        "address_three": null,
        "city": "Stone Mountain",
        "state": "GA",
        "zip": "30083",
        "note": null
      },
      "to_address": {
        "name": "Jamila Small",
        "contact": null,
        "email": null,
        "phone": "347-691-8291",
        "address_one": "174 Riverdale Ave",
        "address_two": "F",
        "address_three": null,
        "city": "Brooklyn",
        "state": "NY",
        "zip": "30083",
        "note": "Adult Signature - NO RELEASE"
      },
      "created_at": "2021-07-30T22:19:40.633Z",
      "updated_at": "2021-07-30T22:19:40.633Z",
      "tracking": {
        "zone": "ATL"
      },
      "package": {
        "weight": 0.01875,
        "width": 12,
        "height": 2,
        "length": 16,
        "description": "Clothing and Accessories"
      }
    },
    "rawHeaders": [
      "Fri, 30 Jul 2021 22:19:40 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "961",
      "close",
      "nginx/1.18.0 (Ubuntu)",
      "Express",
      "ETag",
      "W/\"3c1-SIzB0ZzuPT7u1HynKJySNrxsZ8k\""
    ],
    "responseIsBinary": false
  },
  {
    "scope": "https://connect-staging.concise.io:443",
    "method": "GET",
    "path": "/label/OLBA64A417589.zpl",
    "body": "",
    "status": 200,
    "response": "^XA^CF0,60^FO40,30^A0N,32,32^FDAccount: 4096^FS^FO650,30^A0N,32,32^FD07/30/2021^FS^BY2,3,100^FT40,190^BCN,,Y,N^FDOLBA64A417589^FS^FO40,240^A0N,48,48^FDScheduled^FS^FO420,90^A0N,24,24^FDAndrew Tribone^FS^FO420,120^A0N,24,24^FD1380 Beverage Dr STE A^FS^FO420,150^A0N,24,24^FDStone Mountain, GA 30083^FS^BY2,3,100^FT420,340^A0,60,60^BCN,,Y,N^FDATL^FS^FO420,680^A0N,32,32^FDPieces: 1^FS^FO420,710^A0N,32,32^FDWeight: 0.01875^FS^FO40,420^A0N,32,32^FDJamila Small^FS^FO40,460^A0N,32,32^FD174 Riverdale Ave^FS^FO40,500^A0N,32,32^FDF^FS^FO40,540^A0N,32,32^FDBrooklyn, NY 30083^FS^FO40,580^A0N,32,32^FH^FDPH_23_: 347-691-8291^FS^FO40,770^A0N,32,32^FDREF #1: HB-ATL^FS^FO40,810^A0N,32,32^FDREF #2: 00008872784502755082^FS^FO40,940^A0N,32,32^FDNotes:^FS^FO40,980^A0N,32,32^FB750,6^FDAdult Signature - NO RELEASE^FS^XZ",
    "rawHeaders": [
      "Fri, 30 Jul 2021 22:19:40 GMT",
      "Content-Type",
      "text/html; charset=utf-8",
      "806",
      "close",
      "nginx/1.18.0 (Ubuntu)",
      "Express",
      "ETag",
      "W/\"326-vfm7PwWK+qln+7/Y3dbVSLa4o+o\""
    ],
    "responseIsBinary": false
  }
]