[
  {
    "scope": "https://expush.narvar.qa:443",
    "method": "POST",
    "path": "/qa01/olx",
    "body": "{\"id\":\"68856b2f-a2e2-4171-bab8-44881ab1e29b\",\"identifier\":\"NARVARTOKEN\",\"retailerMoniker\":\"builtbar\",\"trackingNo\":\"7da76c38-f27c-4c39-b941-0972810e4dec\",\"carrier\":\"OLX\",\"statusCode\":\"INTRANSIT\",\"statusDescription\":\"IN TRANSIT\",\"lastUpdateDate\":\"2021-04-28T06:40:05.864Z\",\"estimatedDeliveryDate\":\"2021-04-28T06:40:05.864Z\",\"eventCity\":\"OKLAHOMA CITY\",\"eventState\":\"OK\",\"eventZip\":null,\"eventCountryCode\":\"US\"}",
    "status": 200,
    "response": {
      "status_update_number": "1e29a2d8-8616-44aa-b2df-b0f1c215c82e",
      "status": true
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-RequestId",
      "ed910702-bc9f-4e54-b7dc-6b137099d7b4",
      "x-amz-apigw-id",
      "ee1y-Ff8vHcF51Q="
    ],
    "responseIsBinary": false
  },
[...]
