[
  {
    "scope": "https://expush.narvar.qa:443",
    "method": "POST",
    "path": "/qa01/olx",
    "body": "{\"id\":\"d49423e4-a6ba-4667-8b46-8834d8fde04a\",\"identifier\":\"NARVARTOKEN\",\"retailerMoniker\":\"builtbar\",\"trackingNo\":\"45c98045-efb0-44f7-bb4f-1eeaec17d097\",\"carrier\":\"OLX\",\"statusCode\":\"INTRANSIT\",\"statusDescription\":\"IN TRANSIT\",\"lastUpdateDate\":\"2021-04-28T06:32:10.029Z\",\"estimatedDeliveryDate\":null,\"eventCity\":\"OKLAHOMA CITY\",\"eventState\":\"OK\",\"eventZip\":null,\"eventCountryCode\":\"US\"}",
    "status": 200,
    "response": {
      "status_update_number": "f26914be-0ede-4117-9495-c2fd3ab4ddd0",
      "status": true
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-RequestId",
      "d6f25ad8-abc4-4ead-8bab-2df212a890d6",
      "x-amz-apigw-id",
      "ee0opGwLvHcFgUQ="
    ],
    "responseIsBinary": false
  }
]